.cabecalho {
    background: linear-gradient(90deg, #051322, #0c2f53);
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho h1 {
    text-align: center;
    font-size: 1.8em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    width: 20%;
}

nav {
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.menu-pc {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    margin-right: 2%;
    flex-wrap: wrap;
}

.menu-pc button {
    background-color: #06192e;
    color: white;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1em;
    transition: transform 0.2s ease-in-out;
}

.menu-pc button:hover {
    background-color: #112d4d;
    transform: scale(1.1);
}

.menu-icone {
    display: none;
    background-color: #112d4d;
    color: white;
    font-size: 1.8em;
    padding: 6px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}