html,
body {
    height: 100vh;
    /*Cofigurações padrão para toda a página*/
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.noticia {
    width: 100%;
    height: 28rem;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#noticias {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 400px;
}

.noticia img {
    margin: 40px 0;
    width: 72rem;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    filter: brightness(65%);
}

.noticia h2 {
    position: absolute;
    bottom: 1rem;
    left: 10px;
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    line-height: 1.4;
}

#prevNews,
#nextNews {
    background-color: rgba(90, 90, 90, 0.6);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1em;
    transition: transform 0.2s;
    padding: 10px;
    margin: 0 5px;
    width: 6%;
    height: 85%;
}

#prevNews:hover,
#nextNews:hover {
    background-color: rgba(30, 30, 30, 0.8);
    transform: scale(1.1);
}

.padrao {
    margin-top: 4rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33rem;
}

.mobile {
    display: none;
}

#prevNewsMobile,
#nextNewsMobile {
    background-color: rgba(90, 90, 90, 0.6);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1em;
    transition: transform 0.2s;
    padding: 10px;
    margin: 0 5px;
    width: 6%;
    height: 85%;
}

#prevNewsMobile:hover,
#nextNewsMobile:hover {
    background-color: rgba(30, 30, 30, 0.8);
    transform: scale(1.1);
}


.noticiaMobile {
    width: 100%;
    height: 23rem;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#noticiasMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 400px;
}

.noticiaMobile img {
    margin: 40px 0;
    width: 72rem;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    filter: brightness(65%);
}

.noticiaMobile h2 {
    position: absolute;
    bottom: 1rem;
    left: 10px;
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    line-height: 1.4;
}

.rodape {
    background: linear-gradient(90deg, #040d16, #0c2f53);
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto;
}

/* Responsividade */

@media screen and (max-width: 1024px) {
    .noticia h2 {
        bottom: 4rem;
        left: 10px;
        font-size: 1.2em;
        padding: 10px;
        border-radius: 5px;
        max-width: 80%;
    }

    .noticia img {
        max-width: 100%;
        height: auto;
    }

    #prevNews,
    #nextNews {
        height: 60%;
        width: 6%;
    }
}

@media screen and (max-width: 768px) {
    .noticia img {
        max-width: 100%;
        height: auto;
    }

    .noticia h2 {
        bottom: 7rem;
        left: 10px;
        font-size: 0.9em;
        padding: 10px;
        border-radius: 5px;
        max-width: 80%;
    }

    #prevNews,
    #nextNews {
        height: 50%;
        width: 6%;
    }
}

@media screen and (max-width: 480px) {

    .noticiaMobile img {
        max-width: 100%;
        height: auto;
    }


    .padrao {
        display: none;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto 0;
        width: 100%;
    }

    #prevNewsMobile,
    #nextNewsMobile {
        height: 100%;
        width: 50%;
    }

    .botao-mobile {
        display: flex;
        flex-wrap: nowrap;
        width: 80%;
        height: 40%;
    }

    .noticiaMobile img {
        margin: 20px 0;
        width: 100%;
        height: 350px;
        aspect-ratio: 16 / 9;
        /* Mantém uma proporção uniforme */
        object-fit: cover;
        /* Garante que a imagem preencha todo o espaço sem distorção */
        filter: brightness(65%);
    }

    .noticiaMobile h2 {
        bottom: 2rem;
        left: 10px;
        font-size: 1em;
        padding: 10px;
        border-radius: 5px;
        max-width: 80%;
    }
}